<div class="content">
<div class="container">
<div id="{{ modal_data.modal_id }}" class="modal-dialog">
  <a href="#close" class="external"></a>
  <div>
    <h2>{{ modal_data.modal_header }}</h2>
    <p>{{ modal_data.modal_body }}</p>
    {% if modal_data.modal_warning is defined %}
      <p><em>{{ modal_data.modal_warning }}</em></p>
    {% endif %}
    {% if modal_data.modal_delete_files is defined %}
    <button type="submit" id="{{ modal_data.submit_id }}" name="action" value="delete_files" class="{{ modal_data.submit_btn_type }} upper">{{ modal_data.delete_files_btn_text }}</button>
    {% endif %}
    <button type="submit" id="{{ modal_data.submit_id }}" name="action" value="delete" class="{{ modal_data.submit_btn_type }} upper">{{ modal_data.submit_btn_text }}</button>
    <br>
    <a href="#close" id="{{ modal_data.cancel_id }}" title="{{ gettext('Cancel') }}">{{ gettext('Cancel') }}</a>
  </div>
</div>
</div>
</div>
